{% extends "base.html" %}
{% load cms_tags %}

{% block title %}Страница не найдена{% endblock title %}

{% block content %}
    <div id="content">
      <div class="container">
        <div class="page-content">
          <div class="error-page">
            <h1>404</h1>
            <h3>Страница не найдена</h3>
            <p>Такой страницы у нас на сайте нет и скорее всего не будет :)</p>
            <div class="text-center"><a href="/" class="btn-system btn-small">На главную!</a></div>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
