{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

    <div id="modalAlert" class="modal fade bs-example-modal-lg modal-center" tabindex="-1" role="dialog"
         aria-labelledby="modalAlert">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Спасибо за обращение в нашу компанию!</h4>
                </div>
                <div class="modal-body center-block">
                    <h4 id="alertText"></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" name="save" data-dismiss="modal" class="btn-system btn-small border-btn">OK
                    </button>
                </div>
            </div>
        </div>
    </div>


    <form id="formCallback" action="{% url "callback" %}" method="post">
        {% csrf_token %}
        <div id="modalCallback" class="modal fade bs-example-modal-lg modal-center" tabindex="-1" role="dialog"
             aria-labelledby="modalCallback">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Мы Вам перезвоним!</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label><strong>Введите Ваш номер телефона: </strong></label>
                            <input class="form-control" name="phone" type="text" placeholder="+7 (123) 456-78-90">
{#                            <label><strong>Или ответим по почте: </strong></label>#}
{#                            <input class="form-control" name="email" type="email" placeholder="mail@example.com">#}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="save" class="btn-system btn-small">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form id="formQuestion" action="{% url "question" %}" method="post">
        {% csrf_token %}
        <div id="modalQuestion" class="modal fade bs-example-modal-lg modal-center" tabindex="-1" role="dialog"
             aria-labelledby="modalQuestion">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Выберите удобный способ связи:</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label><strong>Мы перезвоним Вам: </strong></label>
                                    <input class="form-control" name="phone" type="text"
                                           placeholder="+7 (123) 456-78-90">
                                    <label><strong>Или ответим по почте: </strong></label>
                                    <input class="form-control" name="email" type="email"
                                           placeholder="mail@example.com">
                                    <strong>Задайте вопрос: </strong>
                                    <textarea rows="5" style="width:100%;" class="form-control"
                                              name="question"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="save" class="btn-system btn-small">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <form id="formOrder" action="{% url "order" %}" method="post">
        {% csrf_token %}
        <div id="modalOrder" class="modal fade bs-example-modal-lg modal-center" tabindex="-1" role="dialog"
             aria-labelledby="modalOrder">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Заявка на разработку</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <h5>Мы перезвоним Вам для уточнения всех подробностей.</h5>
                                    <label><strong>Введите Ваш номер телефона: </strong></label>
                                    <input class="form-control" name="phone" type="text"
                                           placeholder="+7 (123) 456-78-90">
{#                                    <label><strong>Или ответим по почте: </strong></label>#}
{#                                    <input class="form-control" name="email" type="email"#}
{#                                           placeholder="mail@example.com">#}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="save" class="btn-system btn-small">Отправить</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Start Purchase Section -->
    <div class="section purchase">
        <div class="container">

            <!-- Start Video Section Content -->
            <div class="section-video-content text-center">
                <br>
                <!-- Start Animations Text -->
                <h1 class="fittext wite-text">
                    Разработка сайтов и веб-приложений для Вашего бизнеса
                </h1>
                <!-- End Animations Text -->
                <br>

                <!-- Start Buttons -->
                <a href="#" class="btn-system btn-large" data-toggle="modal" data-target="#modalOrder">Заказать сайт</a>
            </div>
            <!-- End Section Content -->

        </div>
        <!-- .container -->
    </div>
    <!-- End Purchase Section -->

    <!-- Start Content -->
    <div id="content">

    <div class="container">

        <!-- Start Services Icons -->
        <div class="row">

            <!-- Start Service Icon 1 -->
            <div class="col-md-3 col-sm-6 service-box service-center">
                <div class="service-icon">
                    <i class="fa fa-code icon-medium-effect icon-effect-2"></i>
                </div>
                <div class="service-content">
                    <h4>Разработка</h4>

                    <p>Разрабатываем сайты и веб-приложения любой сложности.</p>
                </div>
            </div>
            <!-- End Service Icon 1 -->

            <!-- Start Service Icon 2 -->
            <div class="col-md-3 col-sm-6 service-box service-center">
                <div class="service-icon">
                    <i class="fa fa-cogs icon-medium-effect icon-effect-2"></i>
                </div>
                <div class="service-content">
                    <h4>Сопровождение</h4>

                    <p>Полное техническое сопровождение готовых проектов.</p>
                </div>
            </div>
            <!-- End Service Icon 2 -->

            <!-- Start Service Icon 3 -->
            <div class="col-md-3 col-sm-6 service-box service-center">
                <div class="service-icon">
                    <i class="fa fa-line-chart icon-medium-effect icon-effect-2 gray-icon"></i>
                </div>
                <div class="service-content">
                    <h4>Продвижение</h4>

                    <p>О Вашем проекте должны знать все!</p>
                </div>
            </div>
            <!-- End Service Icon 3 -->

            <!-- Start Service Icon 4 -->
            <div class="col-md-3 col-sm-6 service-box service-center">
                <div class="service-icon">
                    <i class="fa fa-phone icon-medium-effect icon-effect-2 gray-icon"></i>
                </div>
                <div class="service-content">
                    <h4>Поддержка</h4>

                    <p>Поможем в любой ситуации! Мы всегда на связи!</p>
                </div>
            </div>
            <!-- End Service Icon 4 -->
        </div>

    </div>
    <!-- End Services Icons -->


    <!-- Start Full Width Section 3 -->
    <div class="section" style="padding-top:60px; padding-bottom:60px; border-top:0; border-bottom:0; background:#fff;">
        <div class="container">

            <!-- Start Big Heading -->
            <div class="big-title text-center">
                <p class="title-desc">Что мы уже сделали?</p>

                <h1><strong>Реализованные</strong> проекты студии</h1>
            </div>
            <!-- End Big Heading -->

            <!-- Some Text -->
            <p class="text-center"></p>

            <!-- Divider -->
            <div class="hr1" style="margin-bottom:15px;"></div>

            <!-- Start Recent Projects Carousel -->
            <ul id="portfolio-list" data-animated="fadeIn">

                {% placeholder "portfolio" %}

            </ul>
            <!-- End Recent Projects Carousel -->

            <!-- Divider -->
            <div class="hr1" style="margin-bottom:30px;"></div>

            <!-- Button in Center -->
            <p class="text-center"><a href="#" class="btn-system btn-medium border-btn"><i class="icon-brush"></i>Все
                проекты</a></p>

        </div>
    </div>
    <!-- End Full Width Section 3 -->


    <!-- Start Testimonials Section -->
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                    <!-- Start Recent Posts Carousel -->
                    <div class="latest-posts">
                        <h4 class="classic-title"><span>Последние новости</span></h4>

                        <div class="latest-posts-classic custom-carousel touch-carousel" data-appeared-items="2">

                            {% placeholder "latest_news" %}

                        </div>
                    </div>
                    <!-- End Recent Posts Carousel -->

                </div>

                <div class="col-md-4">

                    <!-- Classic Heading -->
                    <h4 class="classic-title"><span>Отзывы</span></h4>

                    <!-- Start Testimonials Carousel -->
                    <div class="custom-carousel show-one-slide touch-carousel" data-appeared-items="1">
                        <!-- Testimonial 1 -->
                        {% placeholder "testimonial" %}
                    </div>
                    <!-- End Testimonials Carousel -->

                </div>
            </div>
        </div>
    </div>

    <!-- Start Purchase Section -->
    <div class="section purchase">
        <div class="container">

            <!-- Start Video Section Content -->
            <div class="section-video-content text-center">

                <!-- Start Animations Text -->
                <h1 class="fittext wite-text uppercase tlt">
                      <span class="texts">
                        <span>Нужна консультация?</span>
                        <span>Есть вопросы?</span>
                      </span>
                    <br>
                    Мы всегда на <strong>связи</strong>!
                </h1>
                <!-- End Animations Text -->


                <!-- Start Buttons -->
                <a href="#" class="btn-system btn-large" data-toggle="modal" data-target="#modalCallback"><i
                        class="fa fa-phone"></i> Заказать звонок</a>
                <a href="#" class="btn-system btn-large btn-wite" data-toggle="modal" data-target="#modalQuestion"><i
                        class="fa fa-comments-o"></i> Задать вопрос</a>
            </div>
            <!-- End Section Content -->

        </div>
        <!-- .container -->
    </div>
    <!-- End Purchase Section -->

    {#    <!-- End Testimonials Section -->#}
    {#    <div id="parallax-one" class="parallax" style="background-image:url({{ STATIC_URL }}images/parallax/bg-02.jpg);">#}
    {#        <div class="parallax-text-container-1">#}
    {#            <div class="parallax-text-item">#}
    {#                <div class="container">#}
    {#                    <div class="row">#}
    {#                        <div class="col-xs-12 col-sm-3 col-md-3">#}
    {#                            <div class="counter-item">#}
    {#                                <i class="fa fa-cloud-upload"></i>#}
    {##}
    {#                                <div class="timer" id="item1" data-to="991" data-speed="5000"></div>#}
    {#                                <h5>Files uploaded</h5>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="col-xs-12 col-sm-3 col-md-3">#}
    {#                            <div class="counter-item">#}
    {#                                <i class="fa fa-check"></i>#}
    {##}
    {#                                <div class="timer" id="item2" data-to="7394" data-speed="5000"></div>#}
    {#                                <h5>Projects completed</h5>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="col-xs-12 col-sm-3 col-md-3">#}
    {#                            <div class="counter-item">#}
    {#                                <i class="fa fa-code"></i>#}
    {##}
    {#                                <div class="timer" id="item3" data-to="18745" data-speed="5000"></div>#}
    {#                                <h5>Lines of code written</h5>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                        <div class="col-xs-12 col-sm-3 col-md-3">#}
    {#                            <div class="counter-item">#}
    {#                                <i class="fa fa-male"></i>#}
    {##}
    {#                                <div class="timer" id="item4" data-to="8423" data-speed="5000"></div>#}
    {#                                <h5>Happy clients</h5>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}


    <!-- Start Pricing Table Section -->
    <div class=" section pricing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Start Big Heading -->
                    <div class="big-title text-center">
                        <h1>Лучшие цены для <strong>Вас</strong>!</h1>
                    </div>
                    <!-- End Big Heading -->

                    <!-- Text -->
                    <p class="text-center">Наши пакеты услуг:</p>
                </div>
            </div>

            <div class="row pricing-tables">

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="pricing-table">
                        <div class="plan-name">
                            <h3>BASIC</h3>
                        </div>
                        <div class="plan-price">
                            <div class="price-value"><span>от </span>7000&#8381;</div>
                            <div class="interval">в тариф входит:</div>
                        </div>
                        <div class="plan-list">
                            <ul>
                                <li><strong>Сайт-визитка или Landing page</strong></li>
                                <li>Кастомизированный дизайн</li>
                                <li>Домен в зоне <strong>.ru</strong> или <strong>.рф</strong></li>
                                <li>Бесплатный хостинг <strong>6 месяцев</strong></li>
                                <li>Регистрация в поисковых системах</li>
                            </ul>
                        </div>
                        <div class="plan-signup">
                            <a href="#" class="btn-system btn-small">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="pricing-table highlight-plan">
                        <div class="plan-name">
                            <h3>ADVANCED</h3>
                        </div>
                        <div class="plan-price">
                            <div class="price-value"><span>от </span>15 000&#8381;</div>
                            <div class="interval">в тариф входит:</div>
                        </div>
                        <div class="plan-list">
                            <ul>
                                <li><strong>Интернет-магазин</strong></li>
                                <li>Кастомизированный дизайн</li>
                                <li>Домен в зоне <strong>.ru</strong> или <strong>.рф</strong></li>
                                <li>Бесплатный хостинг <strong>6 месяцев</strong></li>
                                <li>Регистрация в поисковых системах</li>
                            </ul>
                        </div>
                        <div class="plan-signup">
                            <a href="#" class="btn-system btn-small border-btn">Подробнее</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="pricing-table">
                        <div class="plan-name">
                            <h3>PROFESSIONAL</h3>
                        </div>
                        <div class="plan-price">
                            <div class="price-value"><span>от </span>30 000&#8381;</div>
                            <div class="interval">в тариф входит:</div>
                        </div>
                        <div class="plan-list">
                            <ul>
                                <li><strong>Портал</strong></li>
                                <li>Уникальный дизайн</li>
                                <li>Домен в <strong>любой</strong> зоне</li>
                                <li>Бесплатный хостинг <strong>1-й год</strong></li>
                                <li>Комплексное продвижение</li>
                            </ul>
                        </div>
                        <div class="plan-signup">
                            <a href="#" class="btn-system btn-small">Подробнее</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="pricing-table">
                        <div class="plan-name">
                            <h3>EXTREME</h3>
                        </div>
                        <div class="plan-price">
                            <div class="price-value"><span>от </span>50 000&#8381;</div>
                            <div class="interval">в тариф входит:</div>
                        </div>
                        <div class="plan-list">
                            <ul>
                                <li><strong>Веб-приложение</strong></li>
                                <li>Разработка интерфейса согласно <strong>ТЗ</strong></li>
                                <li>Разработка функционала согласно <strong>ТЗ</strong></li>
                                <li>Внедрение в Вашей компании</li>
                                <li><strong>1-й год</strong> поддержки</li>
                            </ul>
                        </div>
                        <div class="plan-signup">
                            <a href="#" class="btn-system btn-small">Подробнее</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <!-- End Pricing Table Section -->

    <!-- Start Client/Partner Section -->
    <div class="partner">
        <div class="container">
            <div class="row">

                <!-- Start Big Heading -->
                <div class="big-title text-center">
                    <h1>Наши счастливые <strong>клиенты</strong></h1>

                    <p class="title-desc">Отзывы</p>
                </div>
                <!-- End Big Heading -->

                <!--Start Clients Carousel-->
                <div class="our-clients">
                    <div class="clients-carousel custom-carousel touch-carousel navigation-5" data-appeared-items="5"
                         data-navigation="true">

                        {% placeholder "happy_client" %}

                    </div>
                </div>
                <!-- End Clients Carousel -->
            </div>
            <!-- .row -->
        </div>
        <!-- .container -->
    </div>
    <!-- End Client/Partner Section -->
    </div>



{% endblock content %}