<div class="row sidebar-page">

    <div class="col-md-2">
        <img src="{{ instance.photo.url }}">
    </div>

    <!-- Page Content -->
    <div class="col-md-10 page-content">

        <!-- Single Testimonial -->
        <div class="classic-testimonials">
            <div class="testimonial-content">
                <p>{{ instance.text }}</p>
            </div>
            <div class="testimonial-author"><span>{{ instance.user_name }}</span> - {{ instance.user_position }}</div>
        </div>
        <!-- End Testimonial -->


    </div>
    <!-- End Page Content -->
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Divider -->
        <div class="hr5" style="margin-top:35px;margin-bottom:40px;"></div>
    </div>
</div>